absl-py 0.4.1
astor 0.7.1
backcall 0.1.0
cloudpickle 0.5.5
colorama 0.3.9
cycler 0.10.0
Cython 0.28.5
dask 0.19.1
decorator 4.3.0
Django 2.1.2
easydict 1.6
gast 0.2.0
GDAL 2.2.4
grpcio 1.14.2
h5py 2.8.0
image 1.5.27
imgaug 0.2.6
ipython 6.5.0
ipython-genutils 0.2.0
jedi 0.12.1
Keras 2.2.2
Keras-Applications 1.0.4
Keras-Preprocessing 1.0.2
kiwisolver 1.0.1
libmr 0.1.9
Markdown 2.6.11
matplotlib 2.2.3
networkx 2.1
numpy 1.14.5
opencv-python 3.4.3.18
parso 0.3.1
pickleshare 0.7.4
Pillow 5.3.0
prompt-toolkit 1.0.15
protobuf 3.6.1
Pygments 2.2.0
pyparsing 2.2.0
python-dateutil 2.7.3
pytz 2018.5
PyWavelets 1.0.0
PyYAML 3.13
scikit-image 0.14.0
scikit-learn 0.19.2
scipy 1.1.0
Shapely 1.6.4.post1
simplegeneric 0.8.1
six 1.11.0
tensorboard 1.10.0
tensorflow-gpu 1.10.0
termcolor 1.1.0
toolz 0.9.0
traitlets 4.3.2
wcwidth 0.1.7
Werkzeug 0.14.1
win-unicode-console 0.5